# Config
PORT=4567
URL=""
API_KEY=""

# PRIM
PRIM_API_KEY=""
METRO_12="STIF:Line::C01382:"
METRO_12_PORTE_DE_VERSAILLES="STIF:StopPoint:Q:22042:"
TRAM_T3A="STIF:Line::C01391:"
TRAM_T3A_PORTE_DE_VERSAILLES="STIF:StopPoint:Q:24114:"
METRO_14="STIF:Line::C01384:"

# Terminus
TERMINUS_API_URL=""
TERMINUS_DEVICE=""
TERMINUS_LOGIN=""
TERMINUS_PASSWORD=""

# Node
NODE_ENV="development"